# Chuyển hướng thông báo lỗi
ErrorDocument 404 /ct07n_nhom13_source/error-404.php
ErrorDocument 505 /ct07n_nhom13_source/error-505.php

# Giấu id bên và thư mục bên trên đi
RewriteEngine On
RewriteBase /ct07n_nhom13_source/

# Ẩn thư mục admin
RewriteCond %{THE_REQUEST} ^GET\ /admin/
RewriteRule ^admin/(.*) /ct07n_nhom13_source/$1 [L,R=301]

# Nếu như mở đầu là admin- thì chuyển hướng đến thư mục admin và tìm file trong đấy
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin-(.*)$ /ct07n_nhom13_source/admin/admin-$1 [L]

